# Node modules used should be installed using NPM per developer.
node_modules

# OSX temporary files that should never be committed.
*.swp
*.lock
profile

# Any IDE specific project files shouldn't be added to git...

# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData

# IntelliJ etc.
.idea/
META-INF/

# No log files of any sort should be added.
*.log

# Exclude files associated with new fhc local.
.fhc_local

# We don't want to include duplicated files resulting from any builds; we also
# want to prevent having outdated, mismatching filesets in the repo. If you
# need a build, get the latest revision and run the relevant grunt build task.
builds/ios/www/*

# SASS cache folder exists in some branches as remnant of SASS usage...
.sass-cache
