html, body {
  width: 100%;
  background: #00129d;
  font: normal 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#fff;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#photo_content{
	height:500px;
	padding:10px;
}

#left {
	float:left;
	width: 20%;
	min-width: 50px;
	text-align: center;
	font-weight: bold;
	overflow:hodden;
}

#right {
	background:#0052bd url('../img/police_logo_alpha.png') no-repeat 50% 50% ;
	float:right;
	width: 76%;
	border: 3px solid #fff;
	min-height: 300px;
	height: 100%;
	overflow:hidden;
	margin-bottom:20px;
}


#left img {
  margin-top:20px;
  width: 100%;
  height: 100%;
  max-height: 72px;
  max-width:60px;
}

#photo_list {
	padding:10px;
}

#photo_list  p {
	text-align: center;
	vertical-align: center;
}

#photo_list img {
margin-top:10px;
  width: 32%;
}

button {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 16px;
}

#input {
	text-align:center;
}

#input input {
	font-size:16px;
	font-weight:bold;
	padding:5px;
	margin: 10px auto;
	width: 250px;
	height:25px;
	text-align: center
}

#nav {
	text-align:center;
}

#nav input {
	font-size:20px;
	font-weight:bold;
	padding:5px;
	margin: 10px 10px;
	width: 150px;
	height:50px;
}