html, body {
  width: 100%;
  background: #00129d;
  font: normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#fff;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#photo_content{
	padding:5px;
	background:#0052bd url('../img/police_logo_alpha20.png') no-repeat 50% 50% ;
	background-size: contain;
	border: 3px solid #fff;
	min-height: 350px;
	margin: 5px;
}

#section {
	margin :0px auto;
	text-align: center;
}

#section div {
	display:inline;
}

#camera, #upload{
	text-align: center;
	font-weight: bold;
	width: 50px;
}

#camera{
	float:left;
	margin-left : 20px;
}

#upload{
	float:right;
	margin-right : 20px;
}

.finger_icons {
  margin:5px 0px;
  width: 100%;
}

#photo_list {
	padding:10px;
}

#photo_list  p {
	text-align: left;
	font-size:16px;
	vertical-align: top;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:0px;
}

.fingerphotos  {
	margin: 4px;
  	width: 32%; 
	max-width:150px;
	border: 3px solid #00129d;
}

button {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 16px;
}


#input input {
	font-size:14px;
	font-weight:bold;
	padding:5px;
	margin: 10px 10px;
	width: 170px;
	height:25px;
	text-align: center
}

#nav {
	text-align:center;
}

#nav input {
	font-size:20px;
	font-weight:bold;
	padding:5px;
	margin: 10px 10px;
	width: 100px;
	height:40px;
}

#singlephoto, #uploaded {
	display: none;
	width:75%;
	height:75%;
	position: absolute;
	border: 3px solid #fff;
	padding: 10px;
	background: #00129d;
	text-align: center;
	left:20px;
	top:20px;
}

#singlephoto img {
	height:90%;

}

#back {
	float:left;
	margin-left:10px;
	margin-bottom:5px;
}

#delete {
	float:right;
	margin-right:10px;
	margin-bottom:5px;
}

#back img, #delete img {
	width:24px;
	height:24px;
}

#loginscreen {
	height:100%;
	text-align: center;
}

#loginscreen img{
	margin: 20px 0px 0px 0px;
	height:50%;
}

#uploaded img{
	margin: 20px 0px 0px 0px;
	height:60%;
}

#loginscreen input{
	font-size:14px;
	font-weight:bold;
	padding:5px;
	height:25px;
	text-align: center
}

#loginscreen  #loginbutton {
	font-size:20px;
	font-weight:bold;
	padding:5px;
	margin: 10px 10px;
	width: 100px;
	height:40px;
}

._button{
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
	margin: 10px 10px;
	width: 100px;
	height: 40px;
}
